body {
  position: relative;
  background-color: #fefefe;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-image: url('images/loginImage.png');
  background-size: cover;
  background-repeat: repeat;
  opacity: 0.2;
  z-index: -1;
}

.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 125px;
  margin-bottom: 50px;
}

.title {
  margin-bottom: 20px;
  line-height: 120%;
}

.login-card {
  display: flex;
  background-color: #fefefe;
  width: 320px;
  height: 240px;
  padding: 52px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.google-btn {
  display: flex;
  width: 177px;
  height: 42px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #fefefe;
  cursor: pointer;
}

.google-btn:hover {
  background-color: #dedbd8;
}

.google-btn img {
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) {
  .logo {
    width: 180px;
  }

  .login-container .title {
    font-size: 49px;
  }

  .login-card {
    width: 473px;
    height: 240px;
  }

  .login-card h5 {
    font-size: 31px;
  }

  .login-card .google-btn {
    width: 220px;
    height: 52px;
    font-size: 16px;
  }

  .google-btn img {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1024px) {
  .login-container {
    position: relative;
  }

  .logo {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 70px;
    margin-bottom: 0;
  }

  .title {
    position: absolute;
    top: 40px;
    left: 140px;
    margin: 0;
  }

  .login-card {
    width: 597px;
    height: 263px;
  }

  .login-card h5 {
    font-size: 35px;
  }

  .login-card .google-btn {
    width: 436px;
    font-size: 18px;
  }

  .google-btn img {
    width: 32px;
    height: 32px;
  }
}
