/* header */
.header {
  width: 100%;
  height: fit-content;
  background-color: var(--royale);
  border-radius: 0 0 32px 32px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .title .textSection {
  display: flex;
  flex-direction: column;
}

.header .title .textSection h4 {
  color: var(--royale-light);
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: var(--text-h4);
  line-height: 1.2;
}

.header .title .textSection p {
  color: var(--cream-dark);
  font-family: var(--font-jakarta);
  font-size: var(--text-body);
  line-height: 1.2;
}

/* search */
.searchBarDesktop {
  display: none;
}

.searchBarMore,
.search {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 16px;
  backdrop-filter: blur(2px);
}

.search {
  background-color: rgba(247, 243, 240, 0.1);
}

.searchBarMore {
  background-color: var(--cream-light);
}

.searchBarMore input,
.search input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--font-poppins);
  font-size: var(--text-body);
  line-height: 1.2;
}

.search input {
  color: var(--cream);
}

.searchBarMore input {
  color: var(--cream-dark);
}

.searchBarMore input::placeholder,
.search input::placeholder {
  font-family: var(--font-poppins);
  font-size: var(--text-body);
  line-height: 1.2;
}

.searchBarMore input::placeholder {
  color: var(--cream-dark);
}

.search input::placeholder {
  color: rgba(247, 243, 240, 0.5);
}

/* main content */

main {
  width: 100%;
  height: fit-content;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.laporkan,
.statistik {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: stretch;
}

.laporkan .cardLaporkan,
.statistik .cardStatistik,
.content .items .card {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex: 1 0 0;
  gap: 24px;
  flex-wrap: wrap;
  border-radius: 20px;
  border: 1px solid #f3f4f6;
  cursor: pointer;
  background-color: var(--cream-light);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
}

.laporkan .cardLaporkan {
  padding: 20px;
  gap: 24px;
}

.statistik .cardStatistik {
  padding: 16px;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content .items .card {
  position: relative;
  padding-bottom: 12px;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 rgba(30, 30, 30, 0.25);
}

.laporkan .cardLaporkan:hover {
  transform: scale(1.05);
}

.laporkan .cardLaporkan .firstIcon,
.laporkan .cardLaporkan .secondIcon {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.laporkan .cardLaporkan .firstIcon {
  background-color: #fef2f2;
}
.laporkan .cardLaporkan .secondIcon {
  background-color: #f0fdf4;
}

.laporkan .cardLaporkan .textSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.laporkan .cardLaporkan .textSection h4 {
  color: var(--charcoal);
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: var(--text-body);
  line-height: 1.2;
}

.laporkan .cardLaporkan .textSection p {
  color: var(--cream-dark);
  font-family: var(--font-jakarta);
  font-weight: 600;
  font-size: var(--text-caption);
  line-height: 1.2;
}

.statistik .cardStatistik:hover {
  transform: scale(1.05);
}

.statistik .cardStatistik .textSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistik .cardStatistik .textSection h4 {
  color: var(--charcoal);
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: var(--text-title2);
  line-height: 1.2;
}

.statistik .cardStatistik .textSection p {
  color: var(--cream-dark);
  font-family: var(--font-jakarta);
  font-weight: 600;
  font-size: var(--text-caption);
  line-height: 1.2;
}

/* konten utama, list barang */
.content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content .title h3 {
  color: var(--charcoal);
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: var(--text-title1);
  line-height: 1.2;
}

.content .title a {
  color: var(--royale);
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: var(--text-body);
  line-height: 1.2;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.content .title a:hover {
  color: var(--royale-hover);
  transform: scale(1.05);
}

.content .items {
  display: grid;
  width: 100%;
  height: fit-content;
  /* align-items: stretch; */
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.content .items .card:hover {
  transform: scale(1.05);
}

.content .items .card .status {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 8px 12px;
  border-radius: 8px;
  color: var(--charcoal);
  font-family: var(--font-jakarta);
  font-weight: 700;
  font-size: var(--text-caption);
  text-transform: uppercase;
  line-height: 1.2;
}

.content .items .card .status.lost {
  background-color: #ff6467;
}

.content .items .card .status.found {
  background-color: #fcc800;
}

.content .items .card img {
  background-color: #f0fdf4;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.content .items .card .textSection {
  width: 100%;
  height: fit-content;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content .items .card .textSection h4 {
  color: var(--charcoal);
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: var(--text-body);
  line-height: 1.2;
}

.content .items .card .textSection .location,
.postTime {
  display: flex;
  align-items: center;
  gap: 4px;
}

.content .items .card .textSection .location p {
  color: var(--charcoal-light-active);
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: var(--text-caption);
  line-height: 1.2;
}

.content .items .card .textSection .postTime p {
  color: var(--royale);
  font-family: var(--font-jakarta);
  font-weight: 500;
  font-size: var(--text-caption);
  line-height: 1.2;
}

/* filter di more.html */
.filter {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  z-index: 2;
  font-family: var(--font-poppins);
  font-size: var(--text-body);
  line-height: 1.2;
  color: var(--charcoal);
}

.filter .urutkan,
.filter .kategori {
  position: relative;
  width: 100%;
  padding: 16px 24px;
  border-radius: 4px;
  border: 1px solid var(--charcoal);
  background-color: var(--cream);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.filter .urutkan .button,
.filter .kategori .button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter .urutkan .button svg,
.filter .kategori .button svg {
  transition: all 0.3s ease-in-out;
}

.filter .urutkan.active svg,
.filter .kategori.active svg {
  transform: rotate(180deg);
}

.filter .urutkan .filterMenu,
.filter .kategori .filterMenu {
  display: none;
  position: absolute;
  width: 100%;
  height: fit-content;
  border-radius: 4px;
  top: 112%;
  left: 0;
  border: 1px solid var(--charcoal);
  background-color: var(--cream);
  transition: all 0.3s ease-in-out;
}

.urutkan.active .filterMenu,
.kategori.active .filterMenu {
  display: block;
}

.filter .urutkan .filterMenu .item,
.filter .kategori .filterMenu .item {
  padding: 12px 20px;
  transition: all 0.3s ease-in-out;
}
.filter .urutkan .filterMenu .item:first-child,
.filter .kategori .filterMenu .item:first-child,
.filter .urutkan .filterMenu .item:last-child,
.filter .kategori .filterMenu .item:last-child {
  border-top-left-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.filter .urutkan .filterMenu .item:hover,
.filter .kategori .filterMenu .item:hover {
  background-color: rgba(0, 0, 0, 0.07);
  border-left: 4px solid var(--royale);
}

.item.selected {
  border-left: 4px solid var(--royale);
  font-weight: bold;
}

@media (min-width: 768px) {
  .header {
    border-radius: 0 0 32px 32px;
    padding: 32px 36px;
  }
  .header .title .textSection h3 {
    font-size: var(--text-h2);
    line-height: 1.2;
  }

  main {
    padding: 24px 36px;
  }

  .laporkan .cardLaporkan .textSection h4,
  .statistik .cardStatistik .textSection h4,
  .wrapContent.navbar .navIcon .icon p,
  .header .title .textSection p {
    font-size: var(--text-title1);
    line-height: 1.2;
  }

  .content .items {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .content .title h3 {
    font-size: var(--text-h5);
    line-height: 1.2;
  }

  .content .title a,
  .content .items .card .textSection h4 {
    font-size: var(--text-title2);
    line-height: 1.2;
  }

  .content .items .card .textSection .location p,
  .content .items .card .textSection .postTime p,
  .statistik .cardStatistik .textSection p,
  .laporkan .cardLaporkan .textSection p {
    font-size: var(--text-body);
    line-height: 1.2;
  }
}

@media (min-width: 1024px) {
  .header {
    display: none;
  }

  .searchBarDesktop {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 16px;
    background-color: var(--cream-light);
    border-radius: 16px;
    backdrop-filter: blur(2px);
  }

  .searchBarDesktop input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--cream-dark);
    font-family: var(--font-poppins);
    font-size: var(--text-body);
    line-height: 1.2;
  }

  .searchBarDesktop input::placeholder {
    color: var(--cream-dark);
    font-family: var(--font-poppins);
    font-size: var(--text-body);
    line-height: 1.2;
  }

  .content .items {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
