body{
    background: #F7F3F0;
}


.header-atas{
background: linear-gradient(180deg, #2848B7 0%, #3158E0 100%);
border-radius: 0 0 32px 32px;
width: 100%;
height: 170px;
width:auto;
display: flex;
padding: 56px 24px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}
.container-header{
display: flex;
width: 100%;
height: 58px;
justify-content: space-between;
align-items: flex-start;
}
.profile-container{
display: flex;
height: 20px;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}
.text-profile{
font-style: normal;
font-weight: 700;
line-height: 120%; 
    
}

.logo-lost{
width: 48.85px;
height: 45px;
}

.profile-atas{
display: flex;
width: calc(100% - 48px);
height: 76px;
padding: 24px 24px;
align-items: center;
gap: 12px;
border-radius: 20px;
background: #FFF;
margin: 24px;
}

.profile-list{
display: flex;
flex-direction: row;
width: 354px;
height: 76px;
padding: 10px 5px;
gap: 10px;
}
.profile-pic{
display: flex;
margin-top: auto;
margin-bottom: auto;
}

.nama-email{
  margin-top: auto;
  margin-bottom: auto;
}

.logo-profile{
width: auto;
height: 45px;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-bawah {
background: #fff;
width: calc(100% - 48px);
padding: 20px 16px;
border-radius: 20px;
display: flex;
flex-direction: column;
gap: 24px;
}

.menu-item {
display: flex;
justify-content: space-between;
align-items: center;
}

.left {
display: flex;
align-items: center;
gap: 12px;
}

.bg-icon {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  background: #E5E5E5;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}




.icon-menu {
  width: 20px;
  height: 20px;
}
.title {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.subtitle {
  font-size: 12px;
  color: #888;
  margin: 0;
  width: 140px;
}



.akun{
display: flex;
flex-direction: row;
width: auto;
padding: 10px;
justify-content: space-between;
align-items: flex-start;
gap: 16px;
}


.chevron{
    margin-top: 4px;
    width: 18px;
    height: 18px;
}

.navbar {
  width: 100%;
  height: fit-content;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f3f4f6;
  background-color: var(--cream-light-hover);
  backdrop-filter: blur(12px);
  position: fixed;
  bottom: 0;
}

.navbar .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.navbar .icon p {
  color: var(--cream-dark);
  font-family: var(--font-jakarta);
  font-size: var(--text-caption);
  line-height: 1.4;
}

.navbar .icon .active {
  color: var(--royale);
  font-weight: 800;
}

.profile-name{
    font-size: 1rem;
  }

.profile-email{
    font-size: 0.813rem;
}


.primary-text{
    font-size: 0.813rem;
  }

.sub-text{
  font-size: 0.625rem;
}
@media (min-width: 768px) {
.profile-atas{
    height: 116px;
  }

  .logo-profile{
    width: auto;
    height: 92px;
    margin-top: -20px;
  }

  .profile-name{
    font-size: 1.563rem;
  }

  .profile-email{
    font-size: 1rem;
}
  .bg-icon{
    width: 60px;
    height: 60px;
  }
  .logo-list{
    width: 30px;
    height: 30px;
  }

  .chevron{
    width: 20px;
    height: 20px;
  }

  .primary-text{
    font-size: 1rem;
  }

  .sub-text{
  font-size: 0.813rem;
  width: auto;
}
}