.header-atas{
background: linear-gradient(180deg, #2848B7 0%, #3158E0 100%);
border-radius: 0 0 32px 32px;
width: 100%;
height: 170px;
width:auto;
display: flex;
padding: 56px 24px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}
.container-header{
display: flex;
width: 354px;
height: 58px;
justify-content: space-between;
align-items: flex-start;
}
.profile-container{
display: flex;
height: 20px;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}
.text-profile{
font-style: normal;
font-weight: 700;
line-height: 120%; 
    
}